<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ortiz.p_th_app_movil">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.P_TH_App_Movil"
        tools:targetApi="31">
        <activity
            android:name=".Catalogo"
            android:exported="false" />
        <activity
            android:name=".Vista.VistaRegistro.Rgt_User"
            android:exported="false" />
        <activity
            android:name=".Vista.VistaRegistro.RegistroCitas"
            android:exported="false" />
        <activity
            android:name=".Vista.VistaRegistro.VistaRegistro"
            android:exported="false" />
        <activity
            android:name=".Vista.VistaPrincipal.VistaPrincipal"
            android:exported="false" />
        <activity
            android:name=".Vista.VistaLogin.VistaLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>